/*font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;

font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/
:root{
    --clr-primery-200:#F3EED9;
    --clr-primery-400:#824936;

    --clr-nutrel-100:#fff;
    --clr-nutral-900:#222C2A;

    --ff-primery: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', serif;
}


 
::before
::after{
    box-sizing: border-box;
}

.text-senter{
    text-align: center;
}
header,
section{
    padding: 3rem  0px;
}
.continer{
    
    margin-inline:auto;
    width:min(90%,70.5rem);
    
} 
.continer--narrow{
    max-width:  35rem;
}
.split{
    display: flex;
    flex-direction: column;
}
@media (min-width:40em){
    .split{
        flex-direction:row ;
    }
   
    .split > * {
        flex-basis: 100%;
    }
    .split > * + * {
        margin-left: 2em;
    }
    header,
section{
    padding: 7rem  0px;
}

}
img{
    display: block;
    max-width: 100%;
    margin:50px  50px 50px 50px;
}
body{
    font-family: var(--ff-primery);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}
h1,
h2,
h3{ color: var(--clr-primery-400);
    font-family:var(--ff-accent) ;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 1em ;
    margin:50px  50px 50px 50px;
}
p{
    margin:50px  50px 50px 50px;
 
}
.bg-light{
    background-color: var(--clr-primery-200);
}
.bg-primery{
    color: var(--clr-nutrel-100) ;
    background-color: var(--clr-primery-400);
}
.bg-dark {
    color: var(--clr-nutrel-100) ;
    background-color: var(--clr-nutral-900);
}


@media (max-width:40em){
    img{
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    h1,
    h2,
    h3{ color: var(--clr-primery-400);
        font-family:var(--ff-accent) ;
        font-weight: 900;
        line-height: 1;
        margin-bottom: 1em ;
        margin-top: 1em;
       
    }
    
}









